@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0.6rem;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-track {
    background: rgba(255 255 255 0);
}

::-webkit-scrollbar-thumb {
    background: #242b2e;
    border-radius: 0.4rem;

    border: 0.1rem solid rgba(255 255 255 0);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}