@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");
.custom-font {
  font-family: "Sora", sans-serif;
}

/* For hand wobble in Home/Hero section */
.animate-wobble {
  animation: wobble 2s ease-in-out infinite;

  transform-origin: bottom right;
}
@keyframes wobble {
  0%,
  100%,
  40% {
    transform: rotate(0deg);
  }
  50%,
  70%,
  90% {
    transform: rotate(25deg);
  }
  60%,
  80% {
    transform: rotate(-25deg);
  }
}

/* For text shadow component in Home/Hero section */
.text_shadows {
  text-shadow: 3px 3px 0 #13d1ab, 6px 6px 0 #36d7b7;
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: #0d9e81;
  -webkit-animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@-webkit-keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 #36d7b7;
  }
  20% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  30% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  40% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  50% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  60% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  70% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  80% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  90% {
    text-shadow: 3px 3px 0 #36d7b7;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 #36d7b7;
  }
  20% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  30% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  40% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  50% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  60% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  70% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  80% {
    text-shadow: 3px 3px 0 #36d7b7, 6px 6px 0 #13d1ab;
  }
  90% {
    text-shadow: 3px 3px 0 #36d7b7;
  }
  100% {
    text-shadow: none;
  }
}
@-webkit-keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-3px, -3px);
  }
  50% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(-3px, -3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-3px, -3px);
  }
  50% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(-3px, -3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* for custom sursor in { <Cursor/> in _app.js } */
* {
  cursor: none;
}
.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid green;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  transition: 0.3s all ease-out;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #064e3b;
  opacity: 0.4;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.1s all ease-out;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

@media screen and (max-width: 520px) {
  * {
    cursor: inherit;
  }
  .cursor {
    display: none;
  }
  .cursor2 {
    display: none;
  }
  .cursorinnerhover {
    display: none;
  }
}
